/node_modules
/build/assets/img
/build/assets/video
/src/video
/assets/video
/build/assets/video
/src/video
/img
/video
/assets/img
/src/img
/build/assets/img
/build/assets
/build
src/video/
src/Исходники/
screenslider.psd

